<a href="https://colab.research.google.com/github/huojiajin/NLP-Assignments/blob/main/Week1_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
files.upload()

In [ ]:
!ls

sample_data  worldfloras.csv

In [ ]:
import pandas as pd
df = pd.read_csv('worldfloras.csv')
print(df)

In [ ]:
with open('worldfloras.csv','r') as f:
  contents = f.read()

print(contents)

In [ ]:
import re;

I have doubts about whether to use Python 're' library for problem #1- #3.
So I code the methods both of them.

In [ ]:
# Question#1: Display the country names that start with characters ‘D’ or ‘E’.

In [ ]:
#without 're' library
pattern = r'^[DE].+'
booleanMask = df['Country'].str.contains(pattern, regex = True, na = False)
print(df[booleanMask]['Country'])

40               Denmark
41    Dominican Republic
42               Ecuador
43                 Egypt
44           El Salvador
45              Ethiopia
Name: Country, dtype: object

In [ ]:
#with 're' library
pattern = re.compile(r'^[DE][^0-9,]+', re.M)
matches = pattern.finditer(contents)
for match in matches:
  print(match.group())

Denmark
Dominican Republic
Ecuador
Egypt
El Salvador
Ethiopia

In [ ]:
# Question#2: Display the country names that start with the word ‘New’

In [ ]:
#without 're' library
pattern = r'^New.+'
booleanMask = df['Country'].str.contains(pattern, regex = True, na = False)
print(df[booleanMask]['Country'])

102    New Caledonia
103      New Zealand
Name: Country, dtype: object

In [ ]:
#with 're' library
pattern = re.compile(r'^New[^0-9,]+', re.M)
matches = pattern.finditer(contents)
for match in matches:
  print(match.group())

New Caledonia
New Zealand

In [ ]:
# Question3: Display the country names that have a character ‘y’ as the 2nd character (indexing starts from 1)
#in their name.

In [ ]:
#without 're' library
pattern = r'^.{1}y.*'
booleanMask = df['Country'].str.contains(pattern, regex = True, na = False)
print(df[booleanMask]['Country'])

38     Cyprus
140     Syria
Name: Country, dtype: object

In [ ]:
#with 're' library
pattern = re.compile(r'^.{1}y[^0-9,]*', re.M)
matches = pattern.finditer(contents)
for match in matches:
  print(match.group())

Cyprus
Syria

In [ ]:
# Question4: Display the country names that have a character ‘y’ as the 6th character (indexing starts from 1)
#in their name. Use Python ‘re’ library for regular expressions.

In [ ]:
pattern = re.compile(r'^.{5}y[^0-9,]*', re.M)
matches = pattern.finditer(contents)
for match in matches:
  print(match.group())

Norway
Sicily
Turkey

In [ ]:
# Question5: Display the country names that have a character ‘c’ as the 4th character (indexing starts from 1)
#in their name. Use Python ‘re’ library for regular expressions.

In [ ]:
pattern = re.compile(r'^.{3}c[^0-9,]*', re.M)
matches = pattern.finditer(contents)
for match in matches:
  print(match.group())

Czechoslovakia
Liechtenstein
Seychelles